---
title: TOP 100 ROMs
---
extends shared/_layout

include ../components/breadcrumbs/_breadcrumbs

block content

  // header class modifiers binded to pjax
  div(js-header-class data-class="is-black")

  -
    var list = [
      {game: "Pokemon - Fire Red Version (V1.1)", rating: "4", console: "Gameboy Advance"},
      {game: "Pokemon - Emerald Version", rating: "4.5", console: "Gameboy Advance"},
      {game: "Pokemon - Ruby Version (V1.1)", rating: "4.7", console: "Gameboy Advance"},
      {game: "Pokemon - Leaf Green Version (V1.1)", rating: "5", console: "Gameboy Advance"},
      {game: "Super Mario Advance 4 - Super Mario Bros. 3 (V1.1)", rating: "4.8", console: "Nintendo ES"},
      {game: "Dragonball Z - Buu's Fury", rating: "4.2", console: "Gameboy Advance"},
      {game: "Pokemon - Sapphire Version (V1.1)", rating: "3.5", console: "Gameboy Advance"},
      {game: "Super Mario Advance 2 - Super Mario World", rating: "3.8", console: "Nintendo ES"},
      {game: "Classic NES - Super Mario Bros.", rating: "2.5", console: "Gameboy Advance"},
      {game: "Grand Theft Auto Advance", rating: "3", console: "Gameboy Advance"},
      {game: "Legend Of Zelda, The - The Minish Cap", rating: "2.3", console: "Nintendo ES"},
      {game: "Pokemon Jupiter - 6.04 (Ruby Hack)", rating: "4.5", console: "Nintendo ES"},
      {game: "Kirby - Nightmare In Dreamland", rating: "2.4", console: "Gameboy Advance"},
      {game: "Pokemon Black - Special Palace Edition 1 By MB Hacks (Red Hack) Goomba V2.2", rating: "4.5", console: "Gameboy Advance"},
      {game: "Dragonball Z - Supersonic Warriors", rating: "5", console: "Gameboy Advance"},
      {game: "Legend Of Zelda, The - A Link To The Past Four Swords", rating: "4.5", console: "Nintendo ES"},
      {game: "Naruto - Ninja Council 2", rating: "4", console: "Gameboy Advance"},
      {game: "Pokemon Mystery Dungeon - Red Rescue Team", rating: "1", console: "Nintendo ES"},
      {game: "Metal Slug Advance", rating: "2", console: "Gameboy Advance"},
      {game: "Pokemon White Version By MB Hacks (Blue Hack)_GoombaV2.2", rating: "3", console: "Gameboy Advance"},
    ]

  // CATALOG PAGE
  .catalog.page-holder
    .container
      +breadcrumbs(["Home", "ROMs", "Top 100"])

      // TITLE
      .catalog__title
        h1.h6-title Top 100 ROM games

      .catalog__ad
        include ../components/ads/_horizontal

      // FILTERS
      .catalog__filters
        include ../components/filters/_roms

      // LIST
      .catalog__list
        // this table is fron-end sortable with [js-sortable-table]
        table.table.table--roms(js-sortable-table js-stacktable)
          thead
            tr
              mixin sortingIcons
                +svgMono("sorting-arrows")
                +svgMono("sorting-down")
                +svgMono("sorting-up")
              td
                .table__sortable-col
                  span Game title
                    +sortingIcons
              td(data-sort-method='number')
                .table__sortable-col
                  span Rating
                    +sortingIcons
              td
                .table__sortable-col
                  span Console
                    +sortingIcons
          tbody
            each row, index in list
              tr(js-link data-href="game.html")
                td
                  span!= row.game
                td
                  .rating
                    .rateit.svg(
                      data-rateit-value=row.rating
                      data-rateit-readonly="true"
                      data-rateit-starwidth="28"
                      data-rateit-starheight="22"
                      data-rateit-resetable="false")
                    span.rating__number!= row.rating
                td
                  a(href="#")!= row.console

