.socials
  span.socials__btn(
    title="share on facebook"
    aria-label="share on facebook"
    data-sharer="facebook"
    data-hashtag="pixelroms"
    data-url="https://pixel-roms.surge.sh/game.html")
    +svgMono('social-facebook')
  span.socials__btn(
    title="share on twitter"
    aria-label="share on twitter"
    data-sharer="twitter"
    data-title="Page title"
    data-hashtags="pixelroms"
    data-url="https://pixel-roms.surge.sh/game.html")
    +svgMono('social-twitter')
  span.socials__btn(
    title="share on pinterest"
    aria-label="share on pinterest"
    data-sharer="pinterest"
    data-url="https://pixel-roms.surge.sh/game.html")
    +svgMono('social-pinterest')
